<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    
    <body class="is-preload">
    
        {{ if .Site.Params.navbar}}
            {{ partial "navbar.html" . }}
        {{ end }}
    
        <!-- Wrapper -->
        <div id="wrapper">

            {{- block "main" . }}{{- end }}
    
            <!-- Section -->
            <section>
                <header>
                    <h2>Get in touch</h2>
                </header>
                <div class="content">
                    {{if eq .Site.Params.form true}}
                    {{ partial "contact.html" . }}
                    {{end}}
                </div>
                {{ partial "footer.html" .}}
            </section>
    
            <!-- Copyright -->
            <div class="copyright">&copy; {{.Site.Params.owner}}. All rights reserved. Design: <a
                    href="https://html5up.net">HTML5 UP</a>.
            </div>
    
        </div>
    
    </body>
</html>
