{{ define "main" }}

<!-- Intro -->
<section class="intro">
    <header>
        <a href="/">
            <h1>{{ .Site.Title }}</h1>
        </a>
    </header>
</section>

<section class="second">
    <header>
        <h2>{{ .Title }}</h2>
    </header>

    <div class="content">
        {{ range (.Paginate (where .Pages "Type" "post")).Pages}}

            <div class="post animated fadeInDown">
                <div class="post-title">
                    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                    
                    <div class="post-content">
                        <div class="p_part">
                            <p>{{ .Summary }}</p>
                        </div>
                    </div>

                    <div class="info">
                        <em class="icon fa fa-sun"></em>
                        <span class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
                    </div>

                </div>
            </div>
        {{ end }}

    </div>

</section>

{{ end }}