{{ define "main" }}

    <!-- Intro -->
    <section class="intro">
        <header>
            <a href="/">
                <h1>{{ .Site.Title }}</h1>
            </a>
        </header>
    </section>

    <section>    
        <header>
            <h2>{{ .Title }}</h2>
        </header>

        <div class="content">
            {{ if eq .Type "post"}}
            <div class="info">
                <em class="fa fa-calendar-day"></em>
                <span class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
                <em class="fa fa-stopwatch"></em>
                <span class="reading-time">{{ .ReadingTime }}-minute read</span>
            </div>
            {{ end }}

            {{ .Content }}
        </div>
        
    </section>

{{ end }}