<footer>
    <ul class="items">
        <li>
            <h3>Contact</h3>
            <ul class="icons">
                {{ range $item := .Site.Params.social }}
                <li><a href="{{ $item.url }}" class="{{ $item.icon }}"><span class="label">{{$item.title}}</span></a></li>
                {{ end }}
            </ul>
        </li>
    </ul>
</footer>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>