<div id="navbar" class="topnav navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
</div>