{{ define "main" }}

    <!-- Intro -->
    <section class="intro">
        <header>
            <a href="/"><h1>{{ .Title }}</h1></a>
            <h3>{{ .Site.Params.description }}</h3>
        </header>
        <div class="content">
            <span class="image fill" data-position="center"><img src="{{.Site.Params.mainImage}}" alt="" /></span>
        </div>
    </section>

    <!-- Main Section -->
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "main")}}
    {{ range $paginator.Pages }}
        {{ partial "section.html" . }}
    {{ end }}

    <!-- Section -->
    {{- with .Site.GetPage "/gallery/_index.md" -}}
        <section>
            <header>
                <h2>{{ .Title }}</h2>
            </header>
            <div class="content">
 
                {{ range (.Paginate (where .Pages "Type" "gallery")).Pages}}
                <section>

                    <header>
                        <p>{{ .Content }}</p>
                        <h3>-{{ .Title }}</h3>
                    </header>

                    <div class="content">
                        <div class="gallery">
                            {{ range $img := .Params.imgs }}
                                {{ $arg := split $img ":" }}
                                {{ $img := index $arg 0 }}
                                {{ $class := index $arg 1 }}
                                <a href="images/gallery/fulls/{{ $img | urlize }}" class="{{ $class }}">
                                    <img src="images/gallery/thumbs/{{ $img | urlize }}"
                                        alt="" />
                                </a>
                            {{ end }}
                        </div>
                    </div>

                </section>
                {{ end }}

            </div>
        </section>
    {{- end -}}

{{ end }}