<ul class="actions">
    <li><a href="{{ .Get "ref" }}" class="button primary large">{{ .Get "text" }}</a></li>
    <li><a href="{{ .Get "ref2" }}" class="button large">{{ .Get "text2" }}</a></li>
</ul>