<style>
    #wrapper section > .content {
        padding: 0 1rem;
    }

    body {margin:0; overflow: hidden;}
    iframe {border: none;}
</style>

<iframe src="https://docs.google.com/forms/d/e/{{ .Get "src" }}/viewform?embedded=true" width="{{ .Get "width" }}"
    height="{{ .Get "height" }}" frameborder="100" marginheight="100" marginwidth="100">Loading…</iframe>